.DS_Store
datathon-2024/Mustafa/classification_model.pkl
datathon-2024/Mustafa/regression_model.pkl
datathon-2024/Mustafa/scaler.pkl
datathon-2024/Mustafa/tfidf_vectorizer.pkl
datathon-2024/Mustafa/word2vec_model.pkl
datathon-2024/data/.~lock.cleaned_Dataset.csv\#
datathon-2024/Mustafa/Test.ipynb
datathon-2024/omer/.ipynb_checkpoints/Untitled-checkpoint.ipynb
datathon-2024/omer/Untitled.ipynb
datathon-2024/data/.~lock.cleaned_Dataset.csv\#
datathon-2024/Mustafa/Test.ipynb
